{% extends "base.html" %}
{% block title %}Account Page{% endblock %}
{% block content %}
    <div>
        <a href="http://127.0.0.1:5000/logout" class="btn btn-primary   btn-xs"><-Logout</a>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <center><h2><div class="text-success" class="{{ category }}">{{ message }}</div></h2></center>
        {% endfor %}
    {% endwith %}
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href="http://127.0.0.1:5000/create_project" class="btn btn-primary btn-lg btn-block">Create Project</a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href={{url_for("project_list")}} class="btn btn-info btn-lg btn-block">Project list</a>
    </div>
  </div>
</div>
<br><br><br><br>
{% endblock %}
